.spyproject/
.vscode/
*.eps
*.txt
archive/
data/
ellipse-finder.code-workspace
encoding.ini
misc/
scratchpad.*
src/__pycache__
src/Hodograph_DuttaMethod_backvsnoback.py
src/Hodograph_DuttaMethod.py
tests/
utilityScripts/